
@font-face {
	font-family: 'Typewriter';
	src: url('../fonts/Tox\ Typewriter.ttf');
}

:root {
	--shadow: -3px 5px 1px 3px rgba(0, 0, 0, 0.2);
}

html {
	font-family: 'Typewriter';
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: #444;

	font-size: 20px;
}

.container {
	margin: 0 auto;
	display: flex;
	width: max-content;
}
/* Case File */

.paper {
	margin: 3rem;
	height: 800px;
	width: 600px;
	background-color: #ffffff;
	/* box-shadow: var(--shadow); */
	border: 1px solid #e6e6e6;
}

.description {
	vertical-align: top;
	margin: 2em 0 0 2em;
}

.polaroid {
	position: relative;

	display: block;
	float: right;

	height: 260px;
	width: 230px;

	/* box-shadow: var(--shadow); */

	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-bottom: 3px solid #cccccc;
	border-left: 3px solid #cccccc;

	margin: 1.5em 2em 1em 1em;

	/* transform: rotate(5deg); */

}

.photo {
	display: block;
	margin: 15px auto 0;
	height: 200px;
	width: 200px;

	background-color: black;

	opacity: 0.9;
}

.photoInput {	
	height: 260px;
	width: 230px;

	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;

	outline: 1px solid red;
}

.name {
	padding-bottom: 0.5em;
	font-weight: bold;
	text-decoration: underline;
}

.textarea {
	display: block;
	width: 260px;
	min-height: 40px;
	line-height: 20px;
}

.textarea:focus {
	resize: both;
	overflow: hidden;
}

.stickyNote {
	margin: 3rem;
	padding: 1em 2em 2em;

	background-color: #ffdb10;
	border: 1px solid black;
	
	height: 230px;
	width: 230px;

	color: black;
	font-family: Helvetica;
	font-size: 14px;
}

a {
	text-decoration: underline;
	line-height: 1.5em;
}

a:hover {
	cursor: pointer;
}